.firstPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: antiquewhite;

}
.form{
    display: flex;
    flex-direction: column;
    width: 27%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.418);
    opacity: 1;
    padding: 50px;
    border-radius: 4px;
    margin-top: 50px;
    font-family: Bree serif;
    font-size: 18px;
    transition: all 1s linear ;
}
.form:hover{
    transform: scale(1.1);
    font-size: 15px;
}

.label{
    font-family: Bree serif;
    
}
.btnContainer{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
#name{
    font-size: 15px;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
}
#email{
    font-size: 15px;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
}
#phoneNo{
    font-size: 15px;
    padding: 5px;
    padding-left: 10px;
}
.errorMsg{
    color: red;
    font-size: 10px;
}
@media screen and (max-width:600px) {
    .form{
        width: 80%;
    }
    
}
@media screen and (max-width:800px) {
    .form{
        width: 60%;
    }
}