.nav{
    background-color: rgb(225, 250, 215);
}
.logo{
    background-color: #000000;
    color: #fff;
    padding: 10px;
    border: #27d140 solid;
    font-size: 15px;
}

.Navlink{
    margin-right: 10px;
    color: #000000;
    text-decoration: none;
}
.Navlink:hover{
    text-decoration: underline;
    color: #000000;
    font-weight: bold;
}